doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Face Glitch
  body
    #root
    .blind
    .text.text--1 당신은 분열되어 이름을 잃어버립니다
    .text.text--2 지금, 얼굴이 당신을 빠져나갑니다
    .loading
      .circle
      .circle